name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write
  statuses: write
  id-token: write
  checks: write

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xu-cheng/texlive-debian:latest
    strategy:
      matrix:
        python-version: ['3.13']
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    
    - name: Set up Python ${{ matrix.python-version }}
      run: |
        uv python install ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        uv sync --all-extras --dev
    
    - name: Run tests with pytest
      run: |
        uv run pytest
        ls -al 

    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v5
      with:
        files: ./.coverage.xml
        use_oidc: true
      # env:
      #   CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  pages-build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python 3.13
        run: |
          uv python install 3.13
      - name: Install dependencies
        run: |
          uv sync --all-extras --dev
      - name: Build & deploy documentation
        run: |
          uv run mkdocs build -f docs/mkdocs.yml -d ./build/html

      - name: Uplaod to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/build/html
  
  pages-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: pages-build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      