name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write
  statuses: write
  id-token: write
  checks: write

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/xu-cheng/texlive-debian:latest
    strategy:
      matrix:
        python-version: ['3.13']
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        version: "latest"
    
    - name: Set up Python ${{ matrix.python-version }}
      run: |
        uv python install ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        uv sync --all-extras --dev
    
    - name: Run tests with pytest
      run: |
        uv run pytest
        ls -al 

    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v5
      with:
        files: ./.coverage.xml
        use_oidc: true
      # env:
      #   CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  pages:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python 3.13
        run: |
          uv python install 3.13
      - name: Install dependencies
        run: |
          uv sync --all-extras --dev
      - name: Build documentation
        run: |
          uv run mkdocs build -f docs/mkdocs.yml -d ./docs/build/html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
